- name: Set timezone
  shell: "timedatectl set-timezone Asia/Shanghai"

- name: Set hostname
  shell: "hostname -F /etc/hostname"

- name: update /etc/hostname
  template: src=templates/hostname dest=/etc/hostname owner=root group=root mode=0644 unsafe_writes=yes

- name: Update /etc/hosts
  template: src=templates/hosts dest=/etc/hosts owner=root group=root mode=0644 force=yes unsafe_writes=yes

#- name: enable ip_forward
#  shell: 'echo "net.ipv4.ip_forward = 1" >> /etc/sysctl.conf; echo "net.ipv4.conf.all.proxy_arp = 1" >> /etc/sysctl.conf ; sysctl -p /etc/sysctl.conf'

#- name: Install packages
#  shell: "apt update && apt install -y auditd"
#  when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")
#
#- name: Install packages
#  shell: "yum makecache && yum install -y audit container-selinux"
#  when: (ansible_facts['distribution'] != "Ubuntu") or (ansible_facts['distribution'] != "Debian")
